<div class="row">
  <div class="col-1"><%= image_tag 'notimage.png' ,:class => "img-thumbnail" %></div>
  <div class="col-10 row">
    <% if @favorite == nil %>
      <h3>お気に入りがありません。</h3>
    <% else %>
      <% @favorite.reverse_each do |instas| %>
        <%  insta = Instagram.find_by(id: instas.instagram_id) %>
        <div class="col-4 row-eq-height">
        <%= link_to instagram_path(insta.id) do %>
        <%= image_tag insta.image_url , style: 'height:auto;width:100%;'%>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-1"><%= image_tag 'notimage.png' ,:class => "img-thumbnail" %></div>
</div>
